<!-- 读取参数 -->
<!-- args: name size -->
{{ $name := (.Get 0) }}
{{ $no_nr := (.Get 1) }}
{{ $options := (.Get 2) }}
{{ $oriimg := $.Page.Resources.GetMatch $name }}

{{ if $options }}
    <!-- 修改大小 -->
    {{ with ($oriimg.Resize $options) }}
        <!-- 插入图片 -->
        <br><img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
    {{ end }}
{{ else if $no_nr }}
    <img src="{{ $oriimg.RelPermalink }}"/><br>
{{ else }}
    <br><img src="{{ $oriimg.RelPermalink }}"/>
{{ end }}

